!!! 5
%html
	%head
		%script{:type => "text/javascript", :src => "http://use.typekit.net/tzo8lux.js"}
		:javascript
			try{Typekit.load();}catch(e){}	
		%meta{:charset => "utf-8"}/
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/	
		%title NoobNinja
		%meta{:name => "description", :content => "NoobNinja - one-on-one help for specific programming or design tasks"}/
		%meta{:name => "author", :content => "Jamil Abreu"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}/
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	
	%body
		/[if lt IE 7]
			%p.chromeframe
				= link_to "Upgrade to a different browser", "http://browsehappy.com/"
				or
				= link_to "install Google Chrome Frame", "http://www.google.com/chromeframe/?redirect=true"
				to experience this site.
		= render "layouts/header"
		= yield
		= render "layouts/analytics" if Rails.env.production?
		= debug(params) if Rails.env.development?